WCFClient/Connected Services/VanlaMon/InsuaranceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Monchann/InsuaranceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfInsuarances.DataContract" />
  <xs:element name="GetAllImportProcessesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImportProcessesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfInsuarances.DataContract" minOccurs="0" name="GetAllImportProcessesByIdResult" nillable="true" type="q1:ArrayOfImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>